<div class="modal-content popup_modal">
  <div class="modal-header popup_header">
    <h4 class="modal-title">List of Container / CBT</h4>
    <i (click)="modal.close()" class="fa fa-times close" aria-hidden="true"></i>
  </div>
  <div class="modal-body popup_body">

  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-end p-0">
      <button (click)="modal.close()" type="button" class="btn btn-outline-primary close-btn" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
