<div class="secondary-form-container">
  <form [formGroup]="form">
    <div class="row">

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Do Issued By:</label>
          <input formControlName="doIssuedBy" placeholder="Enter Do Issued By" type="text">
          <ng-container *ngIf="hasError('doIssuedBy')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Cargs. Delivered To:</label>
          <input formControlName="cargsDeliveredTo" placeholder="Enter Cargs. Delivered To" type="text">
          <ng-container *ngIf="hasError('cargsDeliveredTo')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Valid Type:</label>
          <select formControlName="validType" class="dropdown">
            <option value="">---Select---</option>
            <option *ngFor="let validType of validTypes" [value]="validType.value">{{validType.label}}
            </option>
          </select>
          <ng-container *ngIf="hasError('validType')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Do Valid Date:</label>
          <div class="position-relative">
            <input formControlName="doValidDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker container="body"
                   #doValidDatePicker="ngbDatepicker"
                   (click)="doValidDatePicker.open()" (dateSelect)="doValidDatePicker.close()" />
            <span (click)="doValidDatePicker.open()" class="input_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <ng-container *ngIf="hasError('doValidDate')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
  <div class="mt-2 d-flex flex-column gap-2">
    <app-table [headers]="headers" [records]="records()"></app-table>
  </div>
</div>
