<div class="custom-auto-complete" #ref>
  <div [class]="class + ' form-group'">
    <label *ngIf="!!label">{{ label }}</label>
    <div class="position-relative">
      <input
             [attr.placeholder]="placeholder"
             readonly
             type="text"
             [ngModel]="selectedOption() ? getOptionLabel(selectedOption()) : ''"
      >
      <span (click)="openOptionsModal()" class="input_icon"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
  </div>
</div>
