<div class="card">
  <form [formGroup]="form">
    <div class="row">

      <div class="col-12 mt-2">
        <div class="form-group">
          <div>
            <label *ngFor="let invoiceType of invoiceTypes" class="radio-container">
              {{invoiceType.label}}
              <input type="radio" formControlName="invoiceType" [value]="invoiceType.value">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Invoice No:</label>
          <input formControlName="invoiceNo" placeholder="Enter Invoice No" type="text">
          <ng-container *ngIf="hasError('invoiceNo')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Delivery Date:</label>
          <div class="position-relative">
            <input formControlName="deliveryDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker container="body"
                   #deliveryDatePicker="ngbDatepicker"
                   (click)="deliveryDatePicker.open()" (dateSelect)="deliveryDatePicker.close()"/>
            <span (click)="deliveryDatePicker.open()" class="input_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <ng-container *ngIf="hasError('deliveryDate')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Application No:</label>
          <input formControlName="applicationNo" placeholder="Enter Application No" type="text">
          <ng-container *ngIf="hasError('applicationNo')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Date:</label>
          <div class="position-relative">
            <input formControlName="invoiceDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker container="body"
                   #invoiceDatePicker="ngbDatepicker"
                   (click)="invoiceDatePicker.open()" (dateSelect)="invoiceDatePicker.close()"/>
            <span (click)="invoiceDatePicker.open()" class="input_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <ng-container *ngIf="hasError('invoiceDate')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-sm-6">
        <app-auto-complete keyName="partyName" keyValue="partyId" label="Party Name:" title="List of Party" placeholder="Select Party Name" formControlName="partyId" [options]="partyList()" />
      </div>

      <div class="col-sm-6">
        <app-auto-complete keyName="partyName" keyValue="partyId" label="Payee Name:" title="List of Payee" placeholder="Select Payee Name" formControlName="payeeId" [options]="partyList()" />
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>GST No:</label>
          <input formControlName="gstNo" placeholder="Enter GST No" type="text">
          <ng-container *ngIf="hasError('gstNo')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Payment Mode:</label>
          <input formControlName="paymentMode" placeholder="Enter Payment Mode" type="text">
          <ng-container *ngIf="hasError('paymentMode')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-6 col-sm-6 mt-2">
        <div class="form-group">
          <div>
            <label *ngFor="let destuffingType of destuffingTypes" class="radio-container">
              {{destuffingType.label}}
              <input type="radio" formControlName="destuffingType" [value]="destuffingType.value">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Place Of Supply:</label>
          <input formControlName="placeOfSupply" placeholder="Enter Place Of Supply" type="text">
          <ng-container *ngIf="hasError('placeOfSupply')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>SEZ:</label>
          <input formControlName="sez" placeholder="Enter SEZ" type="text">
          <ng-container *ngIf="hasError('sez')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>OT Hours:</label>
          <input formControlName="otHours" placeholder="Enter OT Hours" type="text">
          <ng-container *ngIf="hasError('otHours')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6 d-flex align-items-center">
        <button type="button" class="btn btn-primary " (click)="openSelectContainersModal()">Container/CBT Details</button>
      </div>
    </div>

    <hr />
    <div class="d-flex justify-content-left gap-2">
      <button [disabled]="isSaving()" type="button" class="btn btn-primary form-btn" (click)="submit()">Save</button>
      <button type="button" class="btn btn-outline-primary form-btn" (click)="reset()">Reset</button>
    </div>
  </form>
</div>
